@charset "UTF 8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

/*
#6393A6 (azul)
#BF785E (vermelho claro)
#F2CBBD (branco)
#A65B4B (vermelho menos escuro)
#733B36 (vermelho escuro)
*/

:root {
    --azul: #6393A6;
    --verm1: #BF785E;
    --branco: #F2CBBD;
    --verm2: #A65B4B; 
    --verm3: #733B36;

    --fonte: 'Roboto';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte);
}

header {
    background-color: var(--verm1);
    height: 700px;
}

.headercontainer{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 100vh 100vh 100vh;
}

.headertitle {
    padding-left: 190px;
    padding-top: 250px;
}

.headerimg {
    padding-left: 40px;
    padding-top: 150px;
}

h1 {
    font-size: 80px;
    font-weight: 900;
}

h2 {
    padding-left: 10px;
    font-weight: 100;
}

#personalimg {
    width: 300px;
    border-radius: 80%;
    border-color: var(--verm3);
}

main {
    background-color: aqua;
    height: 100px;
}

footer {
    background-color:#733B36;
    height: 100px;
}


main {
    height: 1080px;
    background-color: var(--branco);
}

footer {
    padding-top: 40px;
    height: 100px;
    background-color: var(--verm3);
    text-align: center;
    color: var(--branco);
}
