@charset "UTF 8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

/*
#6393A6 (azul)
#BF785E (vermelho claro)
#F2CBBD (branco)
#A65B4B (vermelho menos escuro)
#733B36 (vermelho escuro)
*/

:root {
    --azul: #6393A6;
    --verm1: #BF785E;
    --branco: #F2CBBD;
    --verm2: #A65B4B; 
    --verm3: #733B36;
    --font: 'Roboto';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte);
}

body {
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "header header"
        "section section"
        "main main"
        "footer footer";
}

.container {
    grid-area: header;
    background-color: var(--verm1);
}

section {
    grid-area: section;
    background-color: var(--azul);
}

main {
    grid-area: main;
    background-color: var(--branco);
}

footer {
    grid-area: footer;
    background-color: var(--verm3);
}

/*h1 {
    font-size: 80px;
    font-weight: 900;
}

h2 {
    padding-left: 10px;
    font-weight: 100;
}*/