@charset "UTF 8";

:root {
    --azul: #6393A6;
    --verm1: #BF785E;
    --branco: #F2CBBD;
    --verm2: #A65B4B; 
    --verm3: #733B36;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    height: 290vh;
    flex-direction: column;
}

header {
    border-bottom: solid black 0.1px;
    background-color: var(--branco);
}

ul {
    display: flex;
    justify-content: end;
    list-style: none;
    gap: 1rem; 
    padding: 0.5rem;
}

a {
    text-decoration: none;
    color: var(--verm3);
    font-weight: 200;
}

section {
    background-color: var(--branco);
    height: 150vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
    justify-content: center;
}

.Personal {
    border-radius: 50%;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
}

h2 {
    padding-left: 0.2rem;
    font-weight: 200;
    color: var(--verm3);
}

h3 {
    text-justify: newspaper;
    padding-left: 41rem;
    padding-top: 5rem;
    font-weight: 200;
    color: black;
    font-size: 3rem;    
}

main {
    height: 200vh;
    background-color: white;
}

.Portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5rem;
    gap: 3rem;
}

.Portfoliolink {
    width: 30%;
    font-size: 2rem;
    padding: 10rem 10rem 10rem 4rem;
    border: solid black 0.1px;
    color: black;
    text-decoration: overline 0.5rem;
}

.ContactContainer {
    background-color: var(--branco);
    display: flex;
    padding: 0rem 5rem 5rem 22rem;
    align-content: center;
    align-items: center;
}

.Contact{
    padding: 4rem;
}

.ContactTitle {
    background-color: var(--branco);
}

footer {
    font-weight: 100;
    font-size: 90%;
    background-color: var(--verm3);
    height: 10vh;
    display: flex;
    border-top: solid black 0.1px;
    color: var(--branco);
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

.footername {
    font-weight: 500;
    text-decoration: none;
    color: var(--branco );
}   